<div data-bind="visible: $root.isActionSuccessful;">
    <div class="alert alert-success fade in">
        <a href="#" class="close" data-bind="click: $root.resetAlertMessages">&times;</a>
            <label> Your action was successful.</label>
    </div>
</div>