<form>
    <partial name="_ValidationErrorPartial" />
    <div>
        <label for="Name">Name</label>
        <input type="text" id="Name" autocomplete="off" maxlength="50" data-bind="value: $root.currentItem().name;" class="form-control" aria-describedby="nameHelp" placeholder="Enter name.">
        <small id="nameHelp" class="form-text text-muted">A name is required to create a Phonebook.</small>
    </div>
    <img src="~/images/ajax-loader.gif" alt="ajax-loader" class="ajax-loader center-ajax-image invisible" />
    <div class="form-group">
        <label for="PhoneNumber">Phone number</label>
        <input type="text" id="PhoneNumber" autocomplete="off" maxlength="10" data-bind="numeric, value: $root.currentItem().phoneNumber;" class="form-control" aria-describedby="phoneNumberHelp" placeholder="Enter Phone number.">
        <small id="phoneNumberHelp" class="form-text text-muted">A phone number must be 10 digits.</small>
    </div>
</form>